html body {
    margin: 0;
    padding: 0;
}

#root {
    min-height: 100vh;
    max-width: 100vw;
    background-image: url("https://user-images.githubusercontent.com/6901805/58038897-167f0280-7ae6-11e9-94eb-88e880a25f0f.gif");
    background-size: cover;
    background-repeat: no-repeat;
}

.MuiOutlinedInput-root {
    background-color: white;
}

.MuiFormLabel-root {
    color: red;
}

